<div style="display: flex;">
  <mat-card style="flex: 1 1 auto;">
    <p>
      <mat-toolbar>
        <span>New Reservation</span>
      </mat-toolbar>
    </p>

    <mat-card fxLayoutAlign="center" fxLayout="row">

      <mat-card-content>
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <mat-label>Movie</mat-label>
              <mat-select formControlName="movieId">
                <mat-option *ngFor="let movie of staticMovieList" [value]="movie.id">
                  {{movie.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <mat-label>Customer</mat-label>
              <mat-select formControlName="userId">
                <mat-option *ngFor="let customer of staticCustomerList" [value]="customer.id">
                  {{customer.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input required matInput placeholder="Seats" formControlName="seats">
            </mat-form-field>
          </p>


          <p fxLayout="row" fxLayoutAlign="center">
            <button type="submit" mat-raised-button>Create Reservation</button>
          </p>

        </form>
      </mat-card-content>

    </mat-card>
  </mat-card>
  <mat-card style="flex: 1 1 auto;">
    <p>
      <mat-toolbar>
        <span>Reservations</span>
      </mat-toolbar>
    </p>


    <table mat-table [dataSource]="reservationList" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="movie">
        <th mat-header-cell *matHeaderCellDef> Movie</th>
        <td mat-cell *matCellDef="let element"> {{element.movie}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User</th>
        <td mat-cell *matCellDef="let element"> {{element.user}} </td>
      </ng-container>

      <ng-container matColumnDef="seats">
        <th mat-header-cell *matHeaderCellDef> Seats</th>
        <td mat-cell *matCellDef="let element"> {{element.seats}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Total Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="reservationColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: reservationColumns;"></tr>
    </table>
  </mat-card>
</div>

<div style="display: flex;">

  <mat-card style="flex: 1 1 auto;">
    <p>
      <mat-toolbar>
        <span>Available Movies</span>
      </mat-toolbar>
    </p>

    <table mat-table [dataSource]="movieList" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year</th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="seats">
        <th mat-header-cell *matHeaderCellDef> Seats</th>
        <td mat-cell *matCellDef="let element"> {{element.seats}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="movieColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: movieColumns;"></tr>
    </table>
  </mat-card>
  <mat-card style="flex: 1 1 auto;">
    <p>
      <mat-toolbar>
        <span>Customer Details</span>
      </mat-toolbar>
    </p>


    <table mat-table [dataSource]="customerList" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="limit">
        <th mat-header-cell *matHeaderCellDef> Limit</th>
        <td mat-cell *matCellDef="let element"> {{element.limit}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total</th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="customerColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: customerColumns;"></tr>
    </table>
  </mat-card>

</div>
